main {
   padding-top: 2rem; 
 }
.background {
  background: url("../images/plans-image.jpg") center/cover;
  filter: grayscale(40%);
  background-repeat: no-repeat;
  background-size: 100%;;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.package {
  width: 80%;
  margin: 1rem 0;
  padding: 1rem;
  border: 4px solid rgb(20, 53, 20);
  border-left: none;
  position: relative;
  overflow: hidden;
}
.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}
.package__subtitle {
  color: rgb(151, 148, 148);
}
.package__info {
  color: rgb(46, 58, 34);
  padding: 1rem;
  border: 1px solid green;
  font-size: 1.2rem;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.clearfix {
    clear: both;
  }
#plus {
  background-color: rgba(213, 255, 220, 0.95);
}
.package__badge{
    position:absolute;
    top: 0;
    right:0px;
    margin:0;
    font-size: 0.8rem;
    color: white; 
    background-color: red;
    padding: 0.5rem;
    transform: rotate(45deg) translate(3.5rem, -1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}
#free {
  background-color: rgba(234, 252, 237, 0.95);
  float: right;
  border: 4px solid darkgreen;
  border-right: none;
  text-align: right;
}
#premium {
  background-color: rgba(13, 79, 31, 0.95);
}
#premium .package__title {
  color: white;
}
@media (min-width: 40rem){
  main{
       margin-left:  auto; 
       margin-right: auto;
      max-width: 60rem; 
  }
}
@media (min-width: 60rem){
  .package{
      border-left: 4px solid rgb(20, 53, 20);
  }
  #free{
    border-right: 4px solid darkgreen;
  }
}
